body {
  background: url('/img.jpg') no-repeat center center fixed;
  font-family: Arial, sans-serif;
  background-color: #222;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height:100vh;
  position: relative; /* Ensure relative positioning for absolute buttons */
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;/* Stack items vertically */
  align-items: center; /* Center align items horizontally */
  padding-top: 5%; /* Adjust top padding as needed */
  height:100%;
}

.form {
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 10px;
  padding: 40px;
  width: 400px; /* Occupy full width */
  display: flex;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  flex-direction: column; /* Stack form items vertically */
  align-items: center; /* Center align items horizontally */
}

.form h2 {
  color: white;
  margin-bottom: 30px; /* Space below headings */
  font-size: 24px; /* Increased font size */
  text-align: left;
}

.input-group {
  position: relative;
  width: 100%; /* Full width for input groups */
  margin-bottom: 15px;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;

}

.form input {
  width: calc(100% - 40px); /* Adjust for icon width */
  padding: 10px 10px 10px 40px; /* Add padding for icon */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: whitesmoke;
}

.form button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #6B73FF, #000DFF);
  color: white;
  cursor: pointer;
  font-size: 16px;

}

.form button:hover {
  background: linear-gradient(135deg, #5a62e8, #000bb3);
}

.button-group {
  display: flex;
  justify-content: space-between; /* Space between buttons */
  width: 100%; /* Full width for button group */
  margin-top: 15px; /* Space above buttons */
}

.button-group button {
  width: 48%; /* Adjust button width */
  font-size: 16px;
  background: linear-gradient(135deg, #f379c6, #ef4af5);
}

.button-group button:hover {
  background: linear-gradient(135deg, #f379c6, #ef4af5);
}
