body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/img.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-content {
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.main-content h1 {
    color: #faf8f8;
    margin-bottom: 30px;
    font-size: 24px;
}

.main-button {
    background: linear-gradient(135deg, #6B73FF, #000DFF);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 10px;
    width: 100px;
}

.main-button:hover {
    background: linear-gradient(135deg, #5a62e8, #000bb3);
}
