<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add-stud.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Add Student</h1>
            <form method="post">
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" id="name" name="name" placeholder="Type name" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-id-badge"></i>
                    <input type="text" id="rollno" name="rollno" placeholder="Type Roll No" required>
                </div>
                <div class="input-group">
                    <i class="fas fa-book"></i>
                    <input type="text" id="course" name="course" placeholder="Type Course" required>
                </div>
                <div class="button-center">
                    <a href="{{ url_for('webcam_capture') }}" class="button"><button>Capture Face</button> </a>
                </div>
                <button type="submit">Submit</button>
            </form>
            <div class="button-group">
                <button onclick="location.href='/add-user/'" type="button">Sign Out</button>
                <button onclick="location.href='/'" type="button">Back to Main Page</button>
            </div>
        </div>
    </div>
</body>
</html>
